:root {
    --light-salm: #feede3;
    --dark-salm: #f9ae89;
    --checked: #f48d59;
    --hover: #f89b6d;
    --light-bluegreen: #cbf3f0;
    --dark-bluegreen: #2ec4b6;
    --button-purple: #c3a9ee;
    --button-purple-hover: #a479ea;
    --activity-walk: #89232e;
    --activity-jog: #f16531;
    --dark-font: #191a1f;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------
FLEX CONTAINER
-------------- */

.activity-container, .activity-jog, .activity-walk
, .activity-reps, .grid-item, .activity-multi {
    display: flex;
}

.activity-jog, .activity-walk, .grid-item {
    flex-direction: column;
}

.activity-container {
    flex-direction: column;
}

/* --------------
STYLING
-------------- */

body {
    font-family: 'Inter', sans-serif;
    color: var(--dark-font);
    margin: 0 2px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background: linear-gradient(to bottom, var(--light-salm), var(--dark-salm));
}

.grid-item {
    border: 1.5px solid #fff;
    text-align: center;
    background-color: none;
}

.workout {
    padding: 1em 0;
}

.workout:hover {
    cursor: pointer;
    background-color: var(--hover);
    text-shadow: 0px 1px var(--dark-font);
}

.week {
    grid-column: span 3;
    padding: .5em 0;
    background-color: var(--checked);
}

.activity-container {
    gap: 1em;
    align-items: center;
    margin: 0 auto;
}

.activity-multi {
    column-gap: 1rem;
}

.column-header, .week.column-header {
    font-weight: 600;
    background-color: var(--hover);
    padding: 1em;
}

.activity-walk {
    color: var(--activity-walk)
}

.activity-jog {
    color: var(--activity-jog);
}

.checked {
    background-color: var(--checked);
    text-shadow: 0px 1px 1px var(--dark-font);
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: auto 1fr 1fr 1fr;
        width: 95vw;
        margin: 1em auto;
    }

    .week {
        grid-column: span 1;
        background-color: var(--dark-salm);
    }

    .workout:focus {
        cursor: pointer;
        background-color: var(--hover);
        text-shadow: 0px 1px var(--dark-font);
    }
}